:root { 
--bluegray_50:#eaecf0; 
--blue_A400:#3678ff; 
--deep_purple_400:#7e56d8; 
--light_blue_900:#016aa2; 
--gray_900_0c:#1018280c; 
--deep_orange_900:#c3320a; 
--pink_A700:#c01573; 
--deep_orange_300:#fd8369; 
--pink_700:#c00f47; 
--gray_600:#71717a; 
--gray_800:#3f3f46; 
--blue_50:#eef2ff; 
--blue_51:#eef3ff; 
--bluegray_800:#344053; 
--indigo_A700:#3456ff; 
--white_A700:#ffffff; 
--gray_51:#fafafa; 
--blue_A701:#2563eb; 
--gray_54:#f9f5ff; 
--gray_53:#f8f9fb; 
--gray_56:#f0f9ff; 
--gray_55:#f8f8fb; 
--blue_A700:#3567ff; 
--gray_57:#fdf1f9; 
--deep_purple_500:#6840c6; 
--red_300:#de8e68; 
--red_301:#d38466; 
--red_51:#fef1f2; 
--gray_50:#f8f8fa; 
--red_50:#fff5ed; 
--black_900:#0a0a0a; 
--teal_800:#027947; 
--black_902:#080814; 
--black_901:#000000; 
--bluegray_900_16:#12203b16; 
--gray_301:#d8dae5; 
--gray_500:#a1a1aa; 
--gray_901:#18181b; 
--gray_902:#0f1728; 
--indigo_50:#e2e8f0; 
--gray_900:#070928; 
--bluegray_100:#d4d4d8; 
--gray_300:#e1e1e1; 
--gray_100:#f3f3f3; 
--bluegray_701:#353e72; 
--bluegray_700:#52525b; 
--bluegray_502:#696f8c; 
--bluegray_501:#667084; 
--bluegray_500:#64748b; 
--bluegray_101:#cfd4dc; 
--indigo_A400:#4f46e5; 
--light_green_50:#ebfdf2; 
--indigo_500:#3537cc; 
}